<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mo.ed.prof_mohamed.geranyapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PostsActivity"
            android:theme="@style/ArishTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CollaboratorsActivity"
            android:label="@string/title_activity_collaborators"
            android:parentActivityName=".PostsActivity"
            android:theme="@style/ArishTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mo.ed.prof_mohamed.geranyapp.PostsActivity" />
        </activity>
        <activity
            android:name=".Profile"
            android:parentActivityName=".PostsActivity"
            android:theme="@style/ArishTheme" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".PostsActivity"
            android:theme="@style/ArishTheme" />
        <activity
            android:name=".Places_List"
            android:theme="@style/ArishTheme" />
        <activity
            android:name=".AddPostActivity"
            android:parentActivityName=".PostsActivity" />
        <activity android:name=".GalleryActivity"
            android:parentActivityName=".AddPostActivity"/>
        <activity
            android:name=".ProjectsActivity"
            android:label="@string/title_activity_projects"
            android:parentActivityName=".PostsActivity"
            android:theme="@style/ArishTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mo.ed.prof_mohamed.geranyapp.PostsActivity" />
        </activity>
    </application>
</manifest>